version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "8888:8888"
    depends_on:
      - backend
    networks:
      - holyshield_net
    restart: unless-stopped

  backend:
    build:
      context: ./backend
    networks:
      - holyshield_net
    restart: unless-stopped

networks:
  holyshield_net:
    driver: bridge
